$mellow-yellow: #DEE7B1;
/**
 * BASE
 */
h1, h2, h3, h4, h5 {
  a {
    font-weight: inherit;
    font-size: inherit;
  }
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #38251C;
}

a, p {
  font-family: 'Lato', san-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
}

/**
 * BOOSTRAP OVERRIDES
 */
.jumbotron {
  padding: 0;
  background-color: inherit;
}

.carousel-inner {
  .item {
    img {
      width: 100%;
      max-width: 1068px;
    }
  }
}
.carousel-indicators {
  display: none;
}
.carousel-control {
  display: none;
}

/**
 * LAYOUT
 */
/* Space out content a bit */
body {
  margin: 0;
  padding: 0;
}

.beta {
  font-size: 15px;
  top: -20px;
  position: relative;
  color: blue;
}

.front-slice {
  margin: 75px 0;
}

.graphs {
  background-color: #eee;
}


#groups {
  min-height: 700px;
  .group {
    background-color: #eee;
    margin-bottom: 20px;
  }
  .groups {
    h2 {
      margin-top: 0px;
    }
    background-color: #eee;
    .remove {
      color: red;
      margin: 0 10px;
    }
  }
  .description {
    margin-left: 30px;
  }
  .donetrue{
    background-color: $mellow-yellow;
  }
  .kiwis {
    ul {
      margin: 0;
      padding: 0;
    }
    > {
      h4 {
        /*margin-left: -10px;*/
        margin-bottom: 0;
      }
      p {
        /*margin-left: -10px;*/
        margin-bottom: 0;
        margin-bottom: 10px;
      }
    }
  }
  .kiwiList {
    list-style-type: none;
    background-color: #eee;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    &:hover {
      background-color: $mellow-yellow;
      cursor: grab;
    }
    &:active {
      background-color: $mellow-yellow;
      cursor: grabbing;
    }
  }
  .ui-draggable-dragging {
    background-color: $mellow-yellow;
    width: inherit !important;
    transform: rotate(-8deg);
  }
}

#custom {
  min-height: 600px;
}

#chrome-login {
  margin: auto;
  .login-container {
    padding: 20px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 389px;
    background-color: #eee;
    height: 186px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .facebook-login {
    text-align: center;
    color: white;
    a, a:hover {
      margin-left: 5px;
      color: inherit;
      text-decoration: none;
    }
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    background-color: rgb(72, 101, 180);
  }
}



.main-right {
  margin-top: 0px;
  margin-bottom: 27px;
  float: right;
}

.loading-block {
  height: 400px;
  position: relative;
  img {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.nav-pills {
  li.active {
    a, a:focus, a:hover {
      background-color: $mellow-yellow;
      color: #38251C;
    }
  }
}
.nav > li {
  a:focus {
    background-color: $mellow-yellow;
    color: #38251C;
  }
}
.table-striped > tbody > tr:nth-child(odd) > {
  td, th {
    background-color: $mellow-yellow;
  }
}

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
.donetrue{
  color: pink;
}
.edit-true {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  /*margin: 0 0 0 5px;*/
}
.list {
  list-style-type: none;
}
/* Custom page footer */
.footer {
  background-color: #1a1a1a;
  height: 200px;
  h1, h2, h3, h4, h5, p, a {
    color: white;
  }
  h5 {
    margin-top: 20px;
  }
}

/* Customize container */
@media (min-width: 1068px) {
  .container {
    max-width: 1030px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}
/* Supporting marketing content */

.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Graph and sidebar container */
.container-graph-sidebar {
  position: relative;
  padding: 0 0 0 55px;
}

#sidebar {
  position: fixed;
  top: 1;
  bottom: 1;
  left: 0;
  width: 175px;
  height: 300px;
  background: #eee;
}

.listTest {
  list-style-type: none;
}

/**
 * CUSTOM GRAPH
 */
 path {
  stroke-width: 2o;
  fill: none;
}

.data1 {
  stroke: blue;
}

.data2 {
  stroke: orange;
}

.data3 {
  stroke: red;
}

.axis {
  shape-rendering: crispEdges;
}

.x.axis {
  line {
    stroke: grey;
    stroke-width: 1;
  }
  .minor {
    stroke-opacity: .5;
  }
  path {
    display: none;
  }
  text {
    font-size: 14;
  }
}

.y {
  &.axis {
    line, path {
      fill: none;
    }
  }
  &.axis1 {
    line, path {
      stroke: blue;
    }
  }
  &.axis2 {
    line, path {
      stroke: orange;
    }
  }
  &.axis3 {
    line, path {
      stroke: red;
    }
  }
  &.axis text {
    font-size: 14;
  }
  &.axis1 text {
    fill: blue;
  }
  &.axis2 text {
    fill: orange;
  }
  &.axis3 text {
    fill: red;
  }
}