/**
 * BASE
 */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000035;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #38251C;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000036;
  }
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  font-weight: inherit;
  font-size: inherit;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000315;
  }
}

a,
p {
  font-family: 'Lato', san-serif;
  color: black;
  font-weight: 400;
  font-size: 14px;
}

/**
 * BOOSTRAP OVERRIDES
 */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000325;
  }
}

.jumbotron {
  padding: 0;
  background-color: inherit;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000332;
  }
}

.carousel-inner .item img {
  width: 100%;
  max-width: 1068px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000338;
  }
}

.carousel-indicators {
  display: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000341;
  }
}

.carousel-control {
  display: none;
}

/**
 * LAYOUT
 */

/* Space out content a bit */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000349;
  }
}

body {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000354;
  }
}

.beta {
  font-size: 15px;
  top: -20px;
  position: relative;
  color: blue;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000361;
  }
}

.front-slice {
  margin: 75px 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000365;
  }
}

.graphs {
  background-color: #eee;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000370;
  }
}

#kiwis .kiwis {
  background-color: #eee;
  margin-bottom: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000378;
  }
}

#groups .group {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000382;
  }
}

#groups .group ul {
  margin-top: 10px;
  min-height: 30px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000389;
  }
}

#groups .kiwi-pill {
  background-color: #dee7b1;
  border-radius: 10px;
  padding: 0 5px;
  margin-right: 10px;
  float: left;
  list-style-type: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000396;
  }
}

#groups .kiwi-pill .remove a {
  text-decoration: none;
  color: red;
  margin-left: 5px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003102;
  }
}

#groups .groups {
  margin-bottom: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003104;
  }
}

#groups .groups h2 {
  margin-top: 0px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003108;
  }
}

#groups .donetrue {
  background-color: #dee7b1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003112;
  }
}

#groups .kiwis ul {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003117;
  }
}

#groups .kiwis > h4 {
  /*margin-left: -10px;*/
  margin-bottom: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003121;
  }
}

#groups .kiwis > p {
  /*margin-left: -10px;*/
  margin-bottom: 0;
  margin-bottom: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003128;
  }
}

#groups .kiwiList {
  list-style-type: none;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003134;
  }
}

#groups .kiwiList:hover {
  background-color: #dee7b1;
  cursor: -webkit-grab;
  cursor: grab;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003138;
  }
}

#groups .kiwiList:active {
  background-color: #dee7b1;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003143;
  }
}

#groups .ui-draggable-dragging {
  background-color: #dee7b1;
  width: inherit !important;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003150;
  }
}

#custom {
  min-height: 600px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003154;
  }
}

#chrome-login {
  margin: auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003156;
  }
}

#chrome-login .login-container {
  padding: 20px;
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 389px;
  background-color: #eee;
  height: 186px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003167;
  }
}

#chrome-login .login-container h1 {
  margin-bottom: 20px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003171;
  }
}

#chrome-login .facebook-login {
  text-align: center;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  background-color: #4865b4;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003174;
  }
}

#chrome-login .facebook-login a,
#chrome-login .facebook-login a:hover {
  margin-left: 5px;
  color: inherit;
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003188;
  }
}

.main-right {
  margin-top: 0px;
  margin-bottom: 27px;
  float: right;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003194;
  }
}

.loading-block {
  height: 400px;
  position: relative;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003197;
  }
}

.loading-block img {
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003210;
  }
}

.nav-pills li.active a,
.nav-pills li.active a:focus,
.nav-pills li.active a:hover {
  background-color: #dee7b1;
  color: #38251C;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003217;
  }
}

.nav > li a:focus {
  background-color: #dee7b1;
  color: #38251C;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003223;
  }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #dee7b1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003228;
  }
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003234;
  }
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003236;
  }
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003243;
  }
}

.donetrue {
  color: pink;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003246;
  }
}

.edit-true {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  /*margin: 0 0 0 5px;*/
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003252;
  }
}

.list {
  list-style-type: none;
}

/* Custom page footer */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003256;
  }
}

.footer {
  background-color: #1a1a1a;
  height: 200px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003259;
  }
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer p,
.footer a {
  color: white;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003262;
  }
}

.footer h5 {
  margin-top: 20px;
}

/* Customize container */

@media (min-width: 1068px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003269;
    }
}

  .container {
    max-width: 1030px;
  }
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003274;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003279;
  }
}

.marketing {
  margin: 40px 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003281;
  }
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003289;
    }
}

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003294;
    }
}

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003298;
    }
}

  .jumbotron {
    border-bottom: 0;
  }
}

/* Graph and sidebar container */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003304;
  }
}

.container-graph-sidebar {
  position: relative;
  padding: 0 0 0 55px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003309;
  }
}

#sidebar {
  position: fixed;
  top: 1;
  bottom: 1;
  left: 0;
  width: 175px;
  height: 300px;
  background: #eee;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003319;
  }
}

.listTest {
  list-style-type: none;
}

/**
 * CUSTOM GRAPH
 */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003328;
  }
}

.multi-graph path {
  stroke-width: 2;
  fill: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003333;
  }
}

.multi-graph .data1 {
  stroke: blue;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003337;
  }
}

.multi-graph .data2 {
  stroke: orange;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003341;
  }
}

.multi-graph .data3 {
  stroke: red;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003345;
  }
}

.multi-graph .axis {
  shape-rendering: crispEdges;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003350;
  }
}

.multi-graph .x.axis line {
  stroke: grey;
  stroke-width: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003354;
  }
}

.multi-graph .x.axis .minor {
  stroke-opacity: .5;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003357;
  }
}

.multi-graph .x.axis path {
  stroke-width: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003361;
  }
}

.multi-graph .x.axis text {
  font-size: 12px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003368;
  }
}

.multi-graph .y.axis line,
.multi-graph .y.axis path {
  fill: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003373;
  }
}

.multi-graph .y.axis1 line,
.multi-graph .y.axis1 path {
  stroke: blue;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003378;
  }
}

.multi-graph .y.axis2 line,
.multi-graph .y.axis2 path {
  stroke: orange;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003383;
  }
}

.multi-graph .y.axis3 line,
.multi-graph .y.axis3 path {
  stroke: red;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003387;
  }
}

.multi-graph .y.axis text {
  font-size: 14px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003390;
  }
}

.multi-graph .y.axis1 text {
  fill: blue;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003393;
  }
}

.multi-graph .y.axis2 text {
  fill: orange;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003396;
  }
}

.multi-graph .y.axis3 text {
  fill: red;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/sean\/workspace\/node-kiwi\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003401;
  }
}

.multi-graph .legend rect {
  fill: white;
  opacity: 0;
}