/**
 * BASE
 */
h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: #38251C; }
  h1 a, h2 a, h3 a, h4 a, h5 a {
    font-weight: inherit;
    font-size: inherit; }

a, p {
  font-family: 'Lato', san-serif;
  color: black;
  font-weight: 400;
  font-size: 14px; }

/**
 * BOOSTRAP OVERRIDES
 */
.jumbotron {
  padding: 0;
  background-color: inherit; }

.carousel-inner .item img {
  width: 100%;
  max-width: 1068px; }

.carousel-indicators {
  display: none; }

.carousel-control {
  display: none; }

/**
 * LAYOUT
 */
/* Space out content a bit */
body {
  margin: 0;
  padding: 0; }

.beta {
  font-size: 15px;
  top: -20px;
  position: relative;
  color: #2a6496; }

.chirp {
  background-color: #662d91;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px; }
  .chirp h3, .chirp a, .chirp p {
    color: white; }

.front-slice {
  margin: 75px 0; }

.graphs {
  background-color: #eee; }

.btn {
  margin: 10px 0; }

#kiwis .kiwis {
  background-color: #eee;
  margin-bottom: 20px; }
  #kiwis .kiwis .title strong:hover {
    cursor: pointer;
    color: #662d91; }
  #kiwis .kiwis .kiwi-table {
    max-height: 215px;
    overflow-y: scroll; }
#kiwis .editing {
  margin-top: 13px; }

#groups .group {
  background-color: #eee;
  margin-bottom: 20px;
  padding: 10px 20px;
  position: relative; }
  #groups .group .title strong:hover {
    cursor: pointer;
    color: #662d91; }
  #groups .group ul {
    margin-top: 10px;
    min-height: 30px; }
#groups .kiwi-pill {
  background-color: #dee7b1;
  border-radius: 10px;
  padding: 0 5px;
  margin-right: 10px;
  float: left;
  list-style-type: none; }
  #groups .kiwi-pill .remove a {
    text-decoration: none;
    color: red;
    margin-left: 5px; }
#groups .groups {
  margin-bottom: 20px; }
  #groups .groups h2 {
    margin-top: 0px; }
#groups .donetrue {
  background-color: #dee7b1; }
#groups .kiwis ul {
  margin: 0;
  padding: 0; }
#groups .kiwis > h4 {
  /*margin-left: -10px;*/
  margin-bottom: 0; }
#groups .kiwis > p {
  /*margin-left: -10px;*/
  margin-bottom: 0;
  margin-bottom: 10px; }
#groups .kiwiList {
  list-style-type: none;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px; }
  #groups .kiwiList:hover {
    background-color: #dee7b1;
    cursor: grab; }
  #groups .kiwiList:active {
    background-color: #dee7b1;
    cursor: grabbing; }
#groups .ui-draggable-dragging {
  background-color: #dee7b1;
  width: inherit !important;
  transform: rotate(-8deg); }
#groups .sidebar-fixed {
  position: fixed;
  top: 20px; }

#custom {
  min-height: 600px; }

#chrome-login {
  margin: auto; }
  #chrome-login .login-container {
    padding: 20px;
    position: fixed;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 389px;
    background-color: #eee;
    height: 186px; }
    #chrome-login .login-container h1 {
      margin-bottom: 20px; }
  #chrome-login .facebook-login {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    background-color: #4865b4; }
    #chrome-login .facebook-login a, #chrome-login .facebook-login a:hover {
      margin-left: 5px;
      color: inherit;
      text-decoration: none; }

.main-right {
  margin-top: 0px;
  margin-bottom: 27px;
  float: right; }

.loading-block {
  height: 400px;
  position: relative; }
  .loading-block img {
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
  background-color: #dee7b1;
  color: #38251C; }

.nav > li a:focus {
  background-color: #dee7b1;
  color: #38251C; }

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #dee7b1; }

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5; }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

.donetrue {
  color: pink; }

.edit-true {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  /*margin: 0 0 0 5px;*/ }

.list {
  list-style-type: none; }

/* Custom page footer */
.footer {
  background-color: #1a1a1a;
  height: 200px; }
  .footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer p, .footer a {
    color: white; }
  .footer h5 {
    margin-top: 20px; }

/* Customize container */
@media (min-width: 1068px) {
  .container {
    max-width: 1030px; } }
.container-narrow > hr {
  margin: 30px 0; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }
/* Graph and sidebar container */
.container-graph-sidebar {
  position: relative;
  padding: 0 0 0 55px; }

#sidebar {
  position: fixed;
  top: 1;
  bottom: 1;
  left: 0;
  width: 175px;
  height: 300px;
  background: #eee; }

.listTest {
  list-style-type: none; }

/**
 * CUSTOM GRAPH
 */
.data1 {
  color: #2a6496; }

.data2 {
  stroke: white;
  color: #662d91; }

.data3 {
  stroke: white;
  color: red; }

.data4 {
  stroke: white;
  color: green; }

#groups .group .graph-legend {
  border: 1px solid grey;
  padding: 2px 4px;
  position: absolute;
  top: 12px;
  right: 20px; }
#groups .group .ul-legend {
  margin: 0 0;
  min-height: 0; }

.multi-graph {
  border: 1px solid gray;
  max-height: 300px; }
  .multi-graph path {
    stroke-width: 1px;
    fill: none; }
  .multi-graph .data1-point {
    fill: #2a6496; }
  .multi-graph .data2-point {
    fill: #662d91; }
  .multi-graph .data3-point {
    fill: red; }
  .multi-graph .data4-point {
    fill: green; }
  .multi-graph .data1 {
    stroke: #2a6496; }
  .multi-graph .data2 {
    stroke: #662d91; }
  .multi-graph .data3 {
    stroke: red; }
  .multi-graph .data4 {
    stroke: green; }
  .multi-graph .axis {
    shape-rendering: crispEdges; }
  .multi-graph .x.axis line {
    stroke: grey;
    stroke-width: 1; }
  .multi-graph .x.axis .minor {
    stroke-opacity: .5; }
  .multi-graph .x.axis path {
    stroke-width: 1;
    stroke: black; }
  .multi-graph .x.axis text {
    font-size: 11px; }
  .multi-graph .y.axis line, .multi-graph .y.axis path {
    fill: none; }
  .multi-graph .y.axis1 line, .multi-graph .y.axis1 path {
    stroke: #2a6496; }
  .multi-graph .y.axis2 line, .multi-graph .y.axis2 path {
    stroke: #662d91; }
  .multi-graph .y.axis3 line, .multi-graph .y.axis3 path {
    stroke: red; }
  .multi-graph .y.axis4 line, .multi-graph .y.axis4 path {
    stroke: green; }
  .multi-graph .y.axis text {
    font-size: 11px; }
  .multi-graph .y.axis1 text {
    fill: #2a6496; }
  .multi-graph .y.axis2 text {
    fill: #662d91; }
  .multi-graph .y.axis3 text {
    fill: red; }
  .multi-graph .y.axis4 text {
    fill: green; }
