<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  </head>
  <body ng-app="kiwi">
    <%= body %>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>
