<div ng-include="'partials/navbar'"></div>
<div class="container" id="groups">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-right">My Groups</h1>
    </div>
  </div>
  <div class='row'>
    <div class="col-sm-12">
      <div class="chirp">
        <h3>Chirp Chirp</h3>
        <p>
          In the course of your data-detecting endeavours, you'll probably find tons of cool information. Kiwi runner comes with a light-weight analysis platform for you to view your kiwis and plot them against each other. 
        </p>
        <p>
          You'll see all your kiwis in a list to the right. To create a chart, just drag'n'drop a kiwi into the empty space of a chart. Type in a group name, give it a description and hit save. Your chart will continue to update in the background while your kiwis are off tracking, and will be available whenever you come back to this page. 
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="groups">
        <input type="text" class="input form-control" placeholder="A cool group name" ng-model="groupName">
        <button class="btn add-group btn-default" ng-click="createGroup()">Create Group</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8" >
          
      <div class="group" ng-repeat="group in groups | filter:statusFilter track by $index" droppable='group' ng-update='updateGroup(group, from, to, kiwi)'>
        <h3 ng-show="!group.editing" ng-dblclick='editing(group)' class="title"> <strong> {{ group.name }} </strong></h3>
        <form ng-show="group.editing" ng-submit='save(group)'>
          <input ng-blur="changeFocus(group)" input="text" class="form-control editing" ng-model="group.name"/>
        </form>

        <div class="graph-legend">
          <ul class="list-unstyled ul-legend">
            <li ng-repeat="kiwi in group.kiwis" class="data{{$index + 1}}">{{ kiwi.title | limitTo: 20 }} </li>
          </ul>
        </div>
        <multi-yaxis-graph group="group"></multi-yaxis-graph>

        <div class="description">

          <p>{{ group.description }}</p>
         <!--  <button class="btn" ng-click="save(group)">Save</button> -->

          <h4>Description</h4>
          <textarea class="form-control" ng-model="group.description" placeholder="What does your graph say?"></textarea>
          <div class="radio">
            <label>
              <input type="radio" ng-model="group.isPublic" ng-value="false"><h5>Private</h5>
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" ng-model="group.isPublic" ng-value="true"><h5>Public</h5>
              <a ng-show="group.isPublic" href="/groups/{{currentUser.id}}/{{group.groupHash}}">Link to public graph page</a>
            </label>
          </div>
          <button class="btn" ng-click="save(group)">Save</button>

        </div>
        <ul class="list-unstyled">
          <li ng-repeat="kiwi in group.kiwis" class="kiwi-pill">{{ kiwi.title | limitTo: 20 }} <span class="remove" ng-click="removeFromGroup(group, kiwi)"><a href="">x</a></span></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="kiwis">
        <h2>Kiwis</h2>
        <div>
          <ul>
            <li class="kiwiList" ng-repeat="kiwi in kiwis track by kiwi.hash" draggable='kiwi' draggable-target='.group'>{{ kiwi.title | limitTo: 40 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-show="isLoading" class="loading-block">
  <img src="images/loading.gif" alt="Loading">
</div>

<div ng-include="'partials/footer'"></div>
