<div ng-include="'partials/navbar'"></div>

<div class="container" id="groups">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-right">My Groups</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="groups">
        <input type="text" class="input form-control" placeholder="A cool group name" ng-model="groupName">
        <button class="btn add-group btn-default" ng-click="createGroup()">Create Group</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8" >
          
      <div ng-repeat="group in groups" class="group" droppable='group' ng-update='updateGroup(group, from, to, kiwi)'>
        <h3>{{ group.name }}</h3>
        <multi-yaxis-graph group='group'></multi-yaxis-graph>

        <div class="description">
          <p>{{ group.description }}</p>
          <button class="btn" ng-click="save(group)">Save</button>
        </div>
        <ul class="list-unstyled">
          <li ng-repeat="kiwi in group.kiwis" class="kiwi-pill">{{ kiwi.title | limitTo: 15 }} <span class="remove" ng-click="removeFromGroup(group, kiwi)"><a href="">x</a></span></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="kiwis">
        <h2>Kiwis</h2>
        <div>
          <ul>
            <li class="kiwiList" ng-repeat="kiwi in kiwis track by kiwi.hash" draggable='kiwi' draggable-target='.group'>{{ kiwi.title | limitTo: 40 }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-show="isLoading" class="loading-block">
  <img src="images/loading.gif" alt="Loading">
</div>

<div ng-include="'partials/footer'"></div>
