
<div ng-include="'partials/navbar'"></div>

<div class="container" id="kiwis">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-right">My Kiwis</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 kiwis" ng-repeat="kiwi in kiwis | filter:statusFilter track by $index" >
      <h3 class="hoverColor" ng-show="kiwiName"  ng-dblclick='editKiwi(kiwi)' > <strong> {{kiwi.title}} </strong></h3>
  <form ng-show="!kiwiName" ng-submit='editKiwi1(kiwi)'>
      <input ng-blur="looseFocus()" input="text" ng-model="text" class="edit-{{kiwi.edit}}" placeholder="{{kiwi.title}}" ng-model="{{kiwi.title}}"></input>
  </form>
      <a href="{{ kiwi.url}}">{{kiwi.url}}</a>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th><a href="" ng-click="predicate = 'date'; reverse=!reverse">Time</a></th>
            <th><a href="" ng-click="predicate = 'value'; reverse=!reverse">Value</a></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pair in kiwi.values | orderBy:'predicate':'reverse'">
            <td>{{ pair.date }}</td>
            <td>{{ pair.value }}</td>
          </tr>
        </tbody>
      </table>
      
<!--       <custom-map kiwi='kiwi'></custom-map> -->
    </div>
  </div>
</div> 

<div ng-show="isLoading" class="loading-block">
  <img src="images/loading.gif" alt="Loading">
</div>

<div ng-include="'partials/footer'"></div>
