
<div ng-include="'partials/navbar'"></div>

<div class="container" id="kiwis">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-right">My Kiwis</h1>
    </div>
  </div>
  <div class="row">
    <p>
      Kiwis are nocturnal and snuffle about the beach at night. When you track an element with a Kiwi, your Kiwi does exactly the same. Well... not exactly. 
    </p>
    <p>
      Kiwi runner will snuffle the internet every hour, visit your site in the dead of night, and and take note of how the data in the element you're tracking has changed (if at all). It'll then save that data to our database and you'll have access to it right here, whenever you like. For the analysts out there, we'll shortly be adding the ability to export to CSV. Hang tight!
    </p>
  </div>
  <div class="row">

    <div class="col-sm-12 kiwis" ng-repeat="kiwi in kiwis | filter:statusFilter track by $index">

      <h3 ng-show="!kiwi.editing"  ng-dblclick="editing(kiwi)" class="title"> <strong> {{kiwi.title}} </strong></h3>
      <form ng-show="kiwi.editing" ng-submit="edit(kiwi)">
          <input ng-blur="changeFocus(kiwi)" input="text" class="form-control editing" ng-model="kiwi.title"/>
      </form>

      <a href="{{ kiwi.url}}">{{kiwi.url | limitTo: 100}}</a>
      
      <div class="kiwi-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><a href="" ng-click="predicate = 'date'; reverse=!reverse">Time</a></th>
              <th><a href="" ng-click="predicate = 'value'; reverse=!reverse">Value</a></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="pair in kiwi.values | orderBy:predicate:reverse">
              <td>{{ pair.date | date:'MM/dd/yyyy @ h:mma' }}</td>
              <td>{{ pair.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
         class="btn btn-danger"
         confirm="delete(kiwi)"
         confirm-title="Are you sure?"
         confirm-placement="left">
         Delete
      </button>
      <br/>

    </div>
  </div>
</div> 

<div ng-show="isLoading" class="loading-block">
  <img src="images/loading.gif" alt="Loading">
</div>

<div ng-include="'partials/footer'"></div>
