<div ng-include="'partials/navbar'"></div>

<h1 class="main-right">My Kiwis</h1>
<div class="row">
  <div class="col-sm-12 kiwis" ng-repeat="kiwi in kiwis">
    
    <h3>{{kiwi.title}}</h3>
    
    <p>{{kiwi.url}}</p>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pair in kiwi.values">
          <td>{{ pair.date }}</td>
          <td>{{ pair.value }}</td>
        </tr>
      </tbody>
    </table>
    
    <nvd3-line-chart class="chart"
      data="kiwi.graphData"
      width="600"
      height="350"
      showXAxis="true"
      showYAxis="true"
      interactive="true"
      tooltips="true"
      xAxisTickFormat="xAxisTickFormatFunc()"
      yAxisTickFormat="yAxisTickFormatFunc()">
    </nvd3-line-chart>

  </div>
</div>