<div ng-include="'partials/navbar'"></div>

<!-- <div class="jumbotron">
  <h1>'Allo, world <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div> -->

<!--  -->
<div ng-controller="CarouselDemoCtrl">
  <div style="height: 305px">
    <carousel interval="5000">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row">
  </div>
</div>
<!--  -->
<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
