<div ng-include="'partials/navbar'"></div>
<div class='jumbotron'>
  <div ng-controller="CarouselCtrl">
    <carousel interval="10000">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <!-- <p>{{slide.text}}</p> -->
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <h2>Wecome to the way of the Kiwi</h2>
    <div class='col-md-12'>
      <p>
        Kiwi runner will shortly become your favorite way to track data online. It's a super easy-to-use Chrome extension that allows you to select specific pieces of information from websites (kiwis) that we'll track for you over time. To install it, you'll have to using Google Chrome. 
      </p>
      <p>
        Head over to the Chrome webstore and search for 'kiwi', by dokko1230 (that's us!) under 'Chrome extensions'. Once you've installed it, and restarted Chrome, you'll see our little icon near the right in your top menu bar. 
      </p>
      <p>
        The first time you click on the kiwi icon, and whenever you sign into this site, you'll have to sign in with Facebook. This is so that we don't store any of your personal information. We also won't post on your Facebook wall, so don't worry about that!
      </p>
      <p>
        Got it? Now just head to any website you like and click the lil' kiwi in your menu bar. Kiwi runner will highlight all trackable elements on the webpage while you hover over them. To track an element, just click on it.
      </p>
      <p>
        Any elements you click on will be tracked by us, and you'll have access to them in the 'myKiwis' page. For now, you'll only be allowed to track five elements at a time, but we'll be changing that soon. 
      </p>
      <p>
        So, the entire internets is yours! Go forth and track! And thanks for trying us out!
      </p>
      <p>  <small>The Kiwi Team</small> </p>
    </div> 
  </div>

  <div class='row'>
    <div class='col-sm-12'>
      <h5>Footnote</h5>
      <p><small>Kiwis are just plain awesome. So are kiwi fruits. Seriously, go to New Zealand and have some kiwi fruit. It'll change your life. </small></p>
    </div>    
  </div>

</div>

<div ng-include="'partials/footer'"></div>
