<div class='container'>
  <div class='row'>
    <div class="header" ng-controller="NavbarCtrl">
      <ul class="nav nav-pills pull-right">
        <li ng-show="currentUser"><a href="/profile">Hello, {{currentUser.displayName}}</a></li>
        <li ng-show="currentUser"><a href="/kiwis/">My Kiwis</a></li>
        <li ng-show="currentUser"><a href="/custom">Make Charts</a></li>
        <li ng-show="currentUser"><a href="/customcharts">My Charts</a></li>
        <li ng-show="currentUser"><a href="#" ng-click="logout()">Logout</a></li>
        <li><a href="#" ng-hide="currentUser" ng-click="login()">Login</a></li>
      </ul>
      <h1><a href="/">KIWI</a><span class="beta">beta</span></h1>
    </div>
  </div>
</div>
