body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(253, 244, 177);
}

a {
  color: #00B7FF;
}

.doduo img {
  margin: 0 auto;
  display: block;
  width: 150px;
}

.table {
  background-color: rgb(172,141,65);
}
